--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_watershed_id_fkey;
ALTER TABLE IF EXISTS ONLY public.interventions DROP CONSTRAINT IF EXISTS interventions_watershed_id_fkey;
ALTER TABLE IF EXISTS ONLY public.interventions DROP CONSTRAINT IF EXISTS interventions_project_id_fkey;
ALTER TABLE IF EXISTS ONLY public.field_evidence DROP CONSTRAINT IF EXISTS field_evidence_intervention_id_fkey;
ALTER TABLE IF EXISTS ONLY public.biophysical_indicators DROP CONSTRAINT IF EXISTS biophysical_indicators_watershed_id_fkey;
DROP INDEX IF EXISTS public.ix_watersheds_code;
DROP INDEX IF EXISTS public.ix_telemetry_weather_stations_station_id;
DROP INDEX IF EXISTS public.ix_telemetry_weather_stations_id;
DROP INDEX IF EXISTS public.ix_telemetry_topography_dem_watershed_id;
DROP INDEX IF EXISTS public.ix_telemetry_topography_dem_location_id;
DROP INDEX IF EXISTS public.ix_telemetry_topography_dem_id;
DROP INDEX IF EXISTS public.ix_telemetry_soil_pedology_watershed_id;
DROP INDEX IF EXISTS public.ix_telemetry_soil_pedology_id;
DROP INDEX IF EXISTS public.ix_telemetry_soil_pedology_env_zone_id;
DROP INDEX IF EXISTS public.ix_telemetry_satellite_observations_watershed_id;
DROP INDEX IF EXISTS public.ix_telemetry_satellite_observations_observation_id;
DROP INDEX IF EXISTS public.ix_telemetry_satellite_observations_id;
DROP INDEX IF EXISTS public.ix_telemetry_live_sensor_feeds_watershed_code;
DROP INDEX IF EXISTS public.ix_telemetry_live_sensor_feeds_id;
DROP INDEX IF EXISTS public.ix_telemetry_hydrology_basins_watershed_id;
DROP INDEX IF EXISTS public.ix_telemetry_hydrology_basins_id;
DROP INDEX IF EXISTS public.ix_telemetry_hydrology_basins_hybas_id;
DROP INDEX IF EXISTS public.ix_telemetry_groundwater_wells_well_id;
DROP INDEX IF EXISTS public.ix_telemetry_groundwater_wells_watershed_id;
DROP INDEX IF EXISTS public.ix_telemetry_groundwater_wells_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_interventions_user_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_interventions_project_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_interventions_intervention_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_interventions_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_cv_verification_sample_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_cv_verification_intervention_id;
DROP INDEX IF EXISTS public.ix_telemetry_field_cv_verification_id;
DROP INDEX IF EXISTS public.ix_telemetry_dynamic_world_watershed_id;
DROP INDEX IF EXISTS public.ix_telemetry_dynamic_world_pixel_id;
DROP INDEX IF EXISTS public.ix_telemetry_dynamic_world_id;
DROP INDEX IF EXISTS public.ix_field_evidence_file_sha256;
ALTER TABLE IF EXISTS ONLY public.watersheds DROP CONSTRAINT IF EXISTS watersheds_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_weather_stations DROP CONSTRAINT IF EXISTS telemetry_weather_stations_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_topography_dem DROP CONSTRAINT IF EXISTS telemetry_topography_dem_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_soil_pedology DROP CONSTRAINT IF EXISTS telemetry_soil_pedology_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_satellite_observations DROP CONSTRAINT IF EXISTS telemetry_satellite_observations_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_live_sensor_feeds DROP CONSTRAINT IF EXISTS telemetry_live_sensor_feeds_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_hydrology_basins DROP CONSTRAINT IF EXISTS telemetry_hydrology_basins_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_groundwater_wells DROP CONSTRAINT IF EXISTS telemetry_groundwater_wells_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_field_interventions DROP CONSTRAINT IF EXISTS telemetry_field_interventions_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_field_cv_verification DROP CONSTRAINT IF EXISTS telemetry_field_cv_verification_pkey;
ALTER TABLE IF EXISTS ONLY public.telemetry_dynamic_world DROP CONSTRAINT IF EXISTS telemetry_dynamic_world_pkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_pkey;
ALTER TABLE IF EXISTS ONLY public.interventions DROP CONSTRAINT IF EXISTS interventions_pkey;
ALTER TABLE IF EXISTS ONLY public.field_evidence DROP CONSTRAINT IF EXISTS field_evidence_pkey;
ALTER TABLE IF EXISTS ONLY public.biophysical_indicators DROP CONSTRAINT IF EXISTS biophysical_indicators_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS public.telemetry_weather_stations ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_topography_dem ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_soil_pedology ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_satellite_observations ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_live_sensor_feeds ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_hydrology_basins ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_groundwater_wells ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_field_interventions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_field_cv_verification ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.telemetry_dynamic_world ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.watersheds;
DROP SEQUENCE IF EXISTS public.telemetry_weather_stations_id_seq;
DROP TABLE IF EXISTS public.telemetry_weather_stations;
DROP SEQUENCE IF EXISTS public.telemetry_topography_dem_id_seq;
DROP TABLE IF EXISTS public.telemetry_topography_dem;
DROP SEQUENCE IF EXISTS public.telemetry_soil_pedology_id_seq;
DROP TABLE IF EXISTS public.telemetry_soil_pedology;
DROP SEQUENCE IF EXISTS public.telemetry_satellite_observations_id_seq;
DROP TABLE IF EXISTS public.telemetry_satellite_observations;
DROP SEQUENCE IF EXISTS public.telemetry_live_sensor_feeds_id_seq;
DROP TABLE IF EXISTS public.telemetry_live_sensor_feeds;
DROP SEQUENCE IF EXISTS public.telemetry_hydrology_basins_id_seq;
DROP TABLE IF EXISTS public.telemetry_hydrology_basins;
DROP SEQUENCE IF EXISTS public.telemetry_groundwater_wells_id_seq;
DROP TABLE IF EXISTS public.telemetry_groundwater_wells;
DROP SEQUENCE IF EXISTS public.telemetry_field_interventions_id_seq;
DROP TABLE IF EXISTS public.telemetry_field_interventions;
DROP SEQUENCE IF EXISTS public.telemetry_field_cv_verification_id_seq;
DROP TABLE IF EXISTS public.telemetry_field_cv_verification;
DROP SEQUENCE IF EXISTS public.telemetry_dynamic_world_id_seq;
DROP TABLE IF EXISTS public.telemetry_dynamic_world;
DROP TABLE IF EXISTS public.projects;
DROP TABLE IF EXISTS public.interventions;
DROP TABLE IF EXISTS public.field_evidence;
DROP TABLE IF EXISTS public.biophysical_indicators;
DROP TABLE IF EXISTS public.audit_logs;
DROP EXTENSION IF EXISTS postgis_topology;
DROP EXTENSION IF EXISTS postgis_tiger_geocoder;
DROP EXTENSION IF EXISTS postgis;
DROP EXTENSION IF EXISTS fuzzystrmatch;
DROP SCHEMA IF EXISTS topology;
DROP SCHEMA IF EXISTS tiger_data;
DROP SCHEMA IF EXISTS tiger;
--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id character varying(36) NOT NULL,
    user_name character varying(100),
    role character varying(50),
    action character varying(100) NOT NULL,
    resource_type character varying(50) NOT NULL,
    resource_id character varying(36) NOT NULL,
    details json,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: biophysical_indicators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.biophysical_indicators (
    id character varying(36) NOT NULL,
    watershed_id character varying(36) NOT NULL,
    indicator_type character varying(50) NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    value double precision NOT NULL,
    unit character varying(30) NOT NULL,
    data_source character varying(100) NOT NULL,
    methodology character varying(255) NOT NULL,
    data_quality_status character varying(50),
    completeness_score double precision,
    created_at timestamp without time zone
);


ALTER TABLE public.biophysical_indicators OWNER TO postgres;

--
-- Name: field_evidence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.field_evidence (
    id character varying(36) NOT NULL,
    intervention_id character varying(36) NOT NULL,
    filename character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    thumbnail_path character varying(500),
    file_sha256 character varying(64) NOT NULL,
    file_size_bytes double precision,
    captured_latitude double precision NOT NULL,
    captured_longitude double precision NOT NULL,
    altitude_meters double precision,
    camera_bearing_deg double precision,
    coordinate_source character varying(50),
    captured_at timestamp without time zone,
    uploaded_at timestamp without time zone,
    blur_score double precision,
    is_blurry boolean,
    exposure_status character varying(30),
    quality_score double precision,
    is_inside_watershed boolean,
    stream_distance_meters double precision,
    elevation_delta_meters double precision,
    consistency_status character varying(50),
    consistency_reasons json,
    surveyor_name character varying(100),
    structure_condition character varying(50),
    water_storage_level character varying(50),
    notes text,
    review_status character varying(50),
    reviewer_name character varying(100),
    reviewer_notes text,
    reviewed_at timestamp without time zone
);


ALTER TABLE public.field_evidence OWNER TO postgres;

--
-- Name: interventions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interventions (
    id character varying(36) NOT NULL,
    project_id character varying(36) NOT NULL,
    watershed_id character varying(36) NOT NULL,
    name character varying(150) NOT NULL,
    intervention_type character varying(50) NOT NULL,
    target_latitude double precision NOT NULL,
    target_longitude double precision NOT NULL,
    target_elevation_m double precision,
    stream_order integer,
    status character varying(50),
    created_at timestamp without time zone
);


ALTER TABLE public.interventions OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id character varying(36) NOT NULL,
    watershed_id character varying(36) NOT NULL,
    name character varying(200) NOT NULL,
    scheme_name character varying(100),
    status character varying(50),
    sanctioned_budget_inr double precision,
    expenditure_inr double precision,
    start_date date,
    target_date date,
    description text,
    created_at timestamp without time zone
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: telemetry_dynamic_world; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_dynamic_world (
    id integer NOT NULL,
    pixel_id character varying(50) NOT NULL,
    watershed_id character varying(50) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    acquisition_date date NOT NULL,
    prob_water double precision,
    prob_trees double precision,
    prob_grass double precision,
    prob_flooded_vegetation double precision,
    prob_crops double precision,
    prob_shrub_and_scrub double precision,
    prob_built double precision,
    prob_bare double precision,
    dominant_label character varying(50) NOT NULL,
    data_source character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_dynamic_world OWNER TO postgres;

--
-- Name: telemetry_dynamic_world_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_dynamic_world_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_dynamic_world_id_seq OWNER TO postgres;

--
-- Name: telemetry_dynamic_world_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_dynamic_world_id_seq OWNED BY public.telemetry_dynamic_world.id;


--
-- Name: telemetry_field_cv_verification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_field_cv_verification (
    id integer NOT NULL,
    sample_id character varying(50) NOT NULL,
    intervention_id character varying(50) NOT NULL,
    img_detected_object character varying(100) NOT NULL,
    model_confidence_score double precision NOT NULL,
    erosion_risk_level character varying(50) NOT NULL,
    recharge_suitability_score double precision NOT NULL,
    recommended_intervention character varying(150) NOT NULL,
    expert_review_status character varying(50),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_field_cv_verification OWNER TO postgres;

--
-- Name: telemetry_field_cv_verification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_field_cv_verification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_field_cv_verification_id_seq OWNER TO postgres;

--
-- Name: telemetry_field_cv_verification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_field_cv_verification_id_seq OWNED BY public.telemetry_field_cv_verification.id;


--
-- Name: telemetry_field_interventions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_field_interventions (
    id integer NOT NULL,
    intervention_id character varying(50) NOT NULL,
    project_id character varying(50) NOT NULL,
    user_id character varying(50) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    coord_source character varying(50),
    timestamp_utc character varying(50) NOT NULL,
    exif_camera_model character varying(100),
    category character varying(100) NOT NULL,
    observation_note text,
    validation_status character varying(50),
    image_storage_ref character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_field_interventions OWNER TO postgres;

--
-- Name: telemetry_field_interventions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_field_interventions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_field_interventions_id_seq OWNER TO postgres;

--
-- Name: telemetry_field_interventions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_field_interventions_id_seq OWNED BY public.telemetry_field_interventions.id;


--
-- Name: telemetry_groundwater_wells; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_groundwater_wells (
    id integer NOT NULL,
    well_id character varying(50) NOT NULL,
    watershed_id character varying(50) NOT NULL,
    district character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    well_type character varying(50) NOT NULL,
    aquifer_type character varying(100) NOT NULL,
    measurement_date date NOT NULL,
    depth_to_water_mbgl double precision NOT NULL,
    seasonal_fluctuation_m double precision NOT NULL,
    recharge_zone_class character varying(100) NOT NULL,
    data_source character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_groundwater_wells OWNER TO postgres;

--
-- Name: telemetry_groundwater_wells_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_groundwater_wells_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_groundwater_wells_id_seq OWNER TO postgres;

--
-- Name: telemetry_groundwater_wells_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_groundwater_wells_id_seq OWNED BY public.telemetry_groundwater_wells.id;


--
-- Name: telemetry_hydrology_basins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_hydrology_basins (
    id integer NOT NULL,
    hybas_id character varying(50) NOT NULL,
    watershed_id character varying(50) NOT NULL,
    stream_order integer NOT NULL,
    catchment_area_sqkm double precision NOT NULL,
    dis_m3_pyr double precision NOT NULL,
    run_mm_syr double precision NOT NULL,
    ari_ix_sav double precision NOT NULL,
    smp_nz_s01 double precision NOT NULL,
    wet_pc_sg1 double precision NOT NULL,
    data_source character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_hydrology_basins OWNER TO postgres;

--
-- Name: telemetry_hydrology_basins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_hydrology_basins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_hydrology_basins_id_seq OWNER TO postgres;

--
-- Name: telemetry_hydrology_basins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_hydrology_basins_id_seq OWNED BY public.telemetry_hydrology_basins.id;


--
-- Name: telemetry_live_sensor_feeds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_live_sensor_feeds (
    id integer NOT NULL,
    watershed_code character varying(50) NOT NULL,
    watershed_name character varying(150) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    temperature_c double precision NOT NULL,
    humidity_percent double precision NOT NULL,
    rain_mm double precision,
    soil_moisture_0_1cm double precision NOT NULL,
    soil_moisture_1_3cm double precision NOT NULL,
    soil_moisture_3_9cm double precision NOT NULL,
    evapotranspiration_mm double precision NOT NULL,
    telemetry_source character varying(150),
    fetched_at timestamp without time zone
);


ALTER TABLE public.telemetry_live_sensor_feeds OWNER TO postgres;

--
-- Name: telemetry_live_sensor_feeds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_live_sensor_feeds_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_live_sensor_feeds_id_seq OWNER TO postgres;

--
-- Name: telemetry_live_sensor_feeds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_live_sensor_feeds_id_seq OWNED BY public.telemetry_live_sensor_feeds.id;


--
-- Name: telemetry_satellite_observations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_satellite_observations (
    id integer NOT NULL,
    observation_id character varying(50) NOT NULL,
    watershed_id character varying(50) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    sensing_date date NOT NULL,
    ndvi_value double precision NOT NULL,
    ndwi_value double precision NOT NULL,
    bsi_value double precision NOT NULL,
    cloud_cover_percent double precision,
    satellite_sensor character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_satellite_observations OWNER TO postgres;

--
-- Name: telemetry_satellite_observations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_satellite_observations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_satellite_observations_id_seq OWNER TO postgres;

--
-- Name: telemetry_satellite_observations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_satellite_observations_id_seq OWNED BY public.telemetry_satellite_observations.id;


--
-- Name: telemetry_soil_pedology; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_soil_pedology (
    id integer NOT NULL,
    env_zone_id character varying(50) NOT NULL,
    watershed_id character varying(50) NOT NULL,
    soil_type character varying(100) NOT NULL,
    soil_texture character varying(100) NOT NULL,
    depth_cm double precision NOT NULL,
    permeability_mm_hr double precision NOT NULL,
    annual_rainfall_mm double precision NOT NULL,
    lulc_category character varying(100) NOT NULL,
    lulc_code integer NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_soil_pedology OWNER TO postgres;

--
-- Name: telemetry_soil_pedology_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_soil_pedology_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_soil_pedology_id_seq OWNER TO postgres;

--
-- Name: telemetry_soil_pedology_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_soil_pedology_id_seq OWNED BY public.telemetry_soil_pedology.id;


--
-- Name: telemetry_topography_dem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_topography_dem (
    id integer NOT NULL,
    location_id character varying(50) NOT NULL,
    watershed_id character varying(50) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    elevation_m double precision NOT NULL,
    slope_percent double precision NOT NULL,
    slope_class character varying(100) NOT NULL,
    aspect_deg double precision NOT NULL,
    topographic_wetness_index double precision NOT NULL,
    dem_source character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_topography_dem OWNER TO postgres;

--
-- Name: telemetry_topography_dem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_topography_dem_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_topography_dem_id_seq OWNER TO postgres;

--
-- Name: telemetry_topography_dem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_topography_dem_id_seq OWNED BY public.telemetry_topography_dem.id;


--
-- Name: telemetry_weather_stations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telemetry_weather_stations (
    id integer NOT NULL,
    station_id character varying(50) NOT NULL,
    station_name character varying(150) NOT NULL,
    district character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    elevation_m double precision NOT NULL,
    observation_date date NOT NULL,
    daily_rainfall_mm double precision,
    max_temp_c double precision NOT NULL,
    min_temp_c double precision NOT NULL,
    evapotranspiration_mm double precision NOT NULL,
    data_source character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.telemetry_weather_stations OWNER TO postgres;

--
-- Name: telemetry_weather_stations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telemetry_weather_stations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_weather_stations_id_seq OWNER TO postgres;

--
-- Name: telemetry_weather_stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telemetry_weather_stations_id_seq OWNED BY public.telemetry_weather_stations.id;


--
-- Name: watersheds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watersheds (
    id character varying(36) NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(150) NOT NULL,
    state character varying(100) NOT NULL,
    district character varying(100) NOT NULL,
    block character varying(100) NOT NULL,
    basin character varying(100) NOT NULL,
    area_hectares double precision NOT NULL,
    centroid_lat double precision NOT NULL,
    centroid_lon double precision NOT NULL,
    boundary_geojson json NOT NULL,
    drainage_geojson json NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.watersheds OWNER TO postgres;

--
-- Name: telemetry_dynamic_world id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_dynamic_world ALTER COLUMN id SET DEFAULT nextval('public.telemetry_dynamic_world_id_seq'::regclass);


--
-- Name: telemetry_field_cv_verification id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_field_cv_verification ALTER COLUMN id SET DEFAULT nextval('public.telemetry_field_cv_verification_id_seq'::regclass);


--
-- Name: telemetry_field_interventions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_field_interventions ALTER COLUMN id SET DEFAULT nextval('public.telemetry_field_interventions_id_seq'::regclass);


--
-- Name: telemetry_groundwater_wells id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_groundwater_wells ALTER COLUMN id SET DEFAULT nextval('public.telemetry_groundwater_wells_id_seq'::regclass);


--
-- Name: telemetry_hydrology_basins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_hydrology_basins ALTER COLUMN id SET DEFAULT nextval('public.telemetry_hydrology_basins_id_seq'::regclass);


--
-- Name: telemetry_live_sensor_feeds id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_live_sensor_feeds ALTER COLUMN id SET DEFAULT nextval('public.telemetry_live_sensor_feeds_id_seq'::regclass);


--
-- Name: telemetry_satellite_observations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_satellite_observations ALTER COLUMN id SET DEFAULT nextval('public.telemetry_satellite_observations_id_seq'::regclass);


--
-- Name: telemetry_soil_pedology id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_soil_pedology ALTER COLUMN id SET DEFAULT nextval('public.telemetry_soil_pedology_id_seq'::regclass);


--
-- Name: telemetry_topography_dem id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_topography_dem ALTER COLUMN id SET DEFAULT nextval('public.telemetry_topography_dem_id_seq'::regclass);


--
-- Name: telemetry_weather_stations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_weather_stations ALTER COLUMN id SET DEFAULT nextval('public.telemetry_weather_stations_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: biophysical_indicators; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: field_evidence; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: interventions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.projects (id, watershed_id, name, scheme_name, status, sanctioned_budget_inr, expenditure_inr, start_date, target_date, description, created_at) FROM stdin;
fa612bbd-64d5-42f8-8015-e29853c261aa	9cf87ec6-825d-4dee-82e9-71c44595c69f	WDC-PMKSY 2.0 Karjat Ridge-to-Valley Integrated Works	WDC-PMKSY 2.0	In Progress	8500000	5120000	2024-04-01	2027-03-31	Comprehensive soil and water conservation program under PMKSY 2.0 combining ridge-line continuous contour trenches, drainage line check dams, and recharge farm ponds.	2026-09-19 19:20:22.841804
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: telemetry_dynamic_world; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_field_cv_verification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_field_interventions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_groundwater_wells; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_hydrology_basins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_live_sensor_feeds; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_satellite_observations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_soil_pedology; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_topography_dem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telemetry_weather_stations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: watersheds; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: telemetry_dynamic_world_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_dynamic_world_id_seq', 5, true);


--
-- Name: telemetry_field_cv_verification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_field_cv_verification_id_seq', 7, true);


--
-- Name: telemetry_field_interventions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_field_interventions_id_seq', 7, true);


--
-- Name: telemetry_groundwater_wells_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_groundwater_wells_id_seq', 4, true);


--
-- Name: telemetry_hydrology_basins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_hydrology_basins_id_seq', 4, true);


--
-- Name: telemetry_live_sensor_feeds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_live_sensor_feeds_id_seq', 5, true);


--
-- Name: telemetry_satellite_observations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_satellite_observations_id_seq', 6, true);


--
-- Name: telemetry_soil_pedology_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_soil_pedology_id_seq', 5, true);


--
-- Name: telemetry_topography_dem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_topography_dem_id_seq', 6, true);


--
-- Name: telemetry_weather_stations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telemetry_weather_stations_id_seq', 4, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: postgres
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: biophysical_indicators biophysical_indicators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.biophysical_indicators
    ADD CONSTRAINT biophysical_indicators_pkey PRIMARY KEY (id);


--
-- Name: field_evidence field_evidence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.field_evidence
    ADD CONSTRAINT field_evidence_pkey PRIMARY KEY (id);


--
-- Name: interventions interventions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interventions
    ADD CONSTRAINT interventions_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: telemetry_dynamic_world telemetry_dynamic_world_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_dynamic_world
    ADD CONSTRAINT telemetry_dynamic_world_pkey PRIMARY KEY (id);


--
-- Name: telemetry_field_cv_verification telemetry_field_cv_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_field_cv_verification
    ADD CONSTRAINT telemetry_field_cv_verification_pkey PRIMARY KEY (id);


--
-- Name: telemetry_field_interventions telemetry_field_interventions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_field_interventions
    ADD CONSTRAINT telemetry_field_interventions_pkey PRIMARY KEY (id);


--
-- Name: telemetry_groundwater_wells telemetry_groundwater_wells_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_groundwater_wells
    ADD CONSTRAINT telemetry_groundwater_wells_pkey PRIMARY KEY (id);


--
-- Name: telemetry_hydrology_basins telemetry_hydrology_basins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_hydrology_basins
    ADD CONSTRAINT telemetry_hydrology_basins_pkey PRIMARY KEY (id);


--
-- Name: telemetry_live_sensor_feeds telemetry_live_sensor_feeds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_live_sensor_feeds
    ADD CONSTRAINT telemetry_live_sensor_feeds_pkey PRIMARY KEY (id);


--
-- Name: telemetry_satellite_observations telemetry_satellite_observations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_satellite_observations
    ADD CONSTRAINT telemetry_satellite_observations_pkey PRIMARY KEY (id);


--
-- Name: telemetry_soil_pedology telemetry_soil_pedology_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_soil_pedology
    ADD CONSTRAINT telemetry_soil_pedology_pkey PRIMARY KEY (id);


--
-- Name: telemetry_topography_dem telemetry_topography_dem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_topography_dem
    ADD CONSTRAINT telemetry_topography_dem_pkey PRIMARY KEY (id);


--
-- Name: telemetry_weather_stations telemetry_weather_stations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telemetry_weather_stations
    ADD CONSTRAINT telemetry_weather_stations_pkey PRIMARY KEY (id);


--
-- Name: watersheds watersheds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watersheds
    ADD CONSTRAINT watersheds_pkey PRIMARY KEY (id);


--
-- Name: ix_field_evidence_file_sha256; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_field_evidence_file_sha256 ON public.field_evidence USING btree (file_sha256);


--
-- Name: ix_telemetry_dynamic_world_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_dynamic_world_id ON public.telemetry_dynamic_world USING btree (id);


--
-- Name: ix_telemetry_dynamic_world_pixel_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_dynamic_world_pixel_id ON public.telemetry_dynamic_world USING btree (pixel_id);


--
-- Name: ix_telemetry_dynamic_world_watershed_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_dynamic_world_watershed_id ON public.telemetry_dynamic_world USING btree (watershed_id);


--
-- Name: ix_telemetry_field_cv_verification_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_field_cv_verification_id ON public.telemetry_field_cv_verification USING btree (id);


--
-- Name: ix_telemetry_field_cv_verification_intervention_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_field_cv_verification_intervention_id ON public.telemetry_field_cv_verification USING btree (intervention_id);


--
-- Name: ix_telemetry_field_cv_verification_sample_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_field_cv_verification_sample_id ON public.telemetry_field_cv_verification USING btree (sample_id);


--
-- Name: ix_telemetry_field_interventions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_field_interventions_id ON public.telemetry_field_interventions USING btree (id);


--
-- Name: ix_telemetry_field_interventions_intervention_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_field_interventions_intervention_id ON public.telemetry_field_interventions USING btree (intervention_id);


--
-- Name: ix_telemetry_field_interventions_project_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_field_interventions_project_id ON public.telemetry_field_interventions USING btree (project_id);


--
-- Name: ix_telemetry_field_interventions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_field_interventions_user_id ON public.telemetry_field_interventions USING btree (user_id);


--
-- Name: ix_telemetry_groundwater_wells_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_groundwater_wells_id ON public.telemetry_groundwater_wells USING btree (id);


--
-- Name: ix_telemetry_groundwater_wells_watershed_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_groundwater_wells_watershed_id ON public.telemetry_groundwater_wells USING btree (watershed_id);


--
-- Name: ix_telemetry_groundwater_wells_well_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_groundwater_wells_well_id ON public.telemetry_groundwater_wells USING btree (well_id);


--
-- Name: ix_telemetry_hydrology_basins_hybas_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_hydrology_basins_hybas_id ON public.telemetry_hydrology_basins USING btree (hybas_id);


--
-- Name: ix_telemetry_hydrology_basins_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_hydrology_basins_id ON public.telemetry_hydrology_basins USING btree (id);


--
-- Name: ix_telemetry_hydrology_basins_watershed_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_hydrology_basins_watershed_id ON public.telemetry_hydrology_basins USING btree (watershed_id);


--
-- Name: ix_telemetry_live_sensor_feeds_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_live_sensor_feeds_id ON public.telemetry_live_sensor_feeds USING btree (id);


--
-- Name: ix_telemetry_live_sensor_feeds_watershed_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_live_sensor_feeds_watershed_code ON public.telemetry_live_sensor_feeds USING btree (watershed_code);


--
-- Name: ix_telemetry_satellite_observations_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_satellite_observations_id ON public.telemetry_satellite_observations USING btree (id);


--
-- Name: ix_telemetry_satellite_observations_observation_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_satellite_observations_observation_id ON public.telemetry_satellite_observations USING btree (observation_id);


--
-- Name: ix_telemetry_satellite_observations_watershed_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_satellite_observations_watershed_id ON public.telemetry_satellite_observations USING btree (watershed_id);


--
-- Name: ix_telemetry_soil_pedology_env_zone_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_soil_pedology_env_zone_id ON public.telemetry_soil_pedology USING btree (env_zone_id);


--
-- Name: ix_telemetry_soil_pedology_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_soil_pedology_id ON public.telemetry_soil_pedology USING btree (id);


--
-- Name: ix_telemetry_soil_pedology_watershed_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_soil_pedology_watershed_id ON public.telemetry_soil_pedology USING btree (watershed_id);


--
-- Name: ix_telemetry_topography_dem_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_topography_dem_id ON public.telemetry_topography_dem USING btree (id);


--
-- Name: ix_telemetry_topography_dem_location_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_topography_dem_location_id ON public.telemetry_topography_dem USING btree (location_id);


--
-- Name: ix_telemetry_topography_dem_watershed_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_topography_dem_watershed_id ON public.telemetry_topography_dem USING btree (watershed_id);


--
-- Name: ix_telemetry_weather_stations_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telemetry_weather_stations_id ON public.telemetry_weather_stations USING btree (id);


--
-- Name: ix_telemetry_weather_stations_station_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telemetry_weather_stations_station_id ON public.telemetry_weather_stations USING btree (station_id);


--
-- Name: ix_watersheds_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_watersheds_code ON public.watersheds USING btree (code);


--
-- Name: biophysical_indicators biophysical_indicators_watershed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.biophysical_indicators
    ADD CONSTRAINT biophysical_indicators_watershed_id_fkey FOREIGN KEY (watershed_id) REFERENCES public.watersheds(id) ON DELETE CASCADE;


--
-- Name: field_evidence field_evidence_intervention_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.field_evidence
    ADD CONSTRAINT field_evidence_intervention_id_fkey FOREIGN KEY (intervention_id) REFERENCES public.interventions(id) ON DELETE CASCADE;


--
-- Name: interventions interventions_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interventions
    ADD CONSTRAINT interventions_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: interventions interventions_watershed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interventions
    ADD CONSTRAINT interventions_watershed_id_fkey FOREIGN KEY (watershed_id) REFERENCES public.watersheds(id) ON DELETE CASCADE;


--
-- Name: projects projects_watershed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_watershed_id_fkey FOREIGN KEY (watershed_id) REFERENCES public.watersheds(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

